.buton {
    position:absolute;
    background-color: aqua;
    width: 400;
    height: 400;
    transition: ease-in-out .3s;
}


.buton:hover {
    color: transparent;
    background-position: center;
    background-image: url("./100072034783b0.jpg"); 
    background-size: contain;
    
    transition: ease-in-out .3s;
}

@media screen() {
    
}